@import "../assets/variables.scss";
@import "../assets/loginStyle.scss";

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.6rem 1rem;
  .top__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 6rem;

    @media (max-width: 900px) {
      justify-content: center;
      align-items: center;

      .bage__span {
        display: none;
        visibility: hidden;
      }
      .call__btn {
        display: none;
        visibility: hidden;
      }
    }
    @media (max-width: 600px) {
      .phone__call {
        justify-content: center;
        text-align: center;
        display: none;
        visibility: hidden;
      }
    }
  }

  .down__header {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    @media (max-width: 900px) {
    }
    @media (max-width: 600px) {
    }
    .list {
      display: flex;
      padding: 0;
      flex-wrap: wrap;
      .list__item {
        display: flex;
        padding: 10px;
        font-weight: 600;
      }
    }
    .card__btn {
      background-color: $color1;
      border: $color1;
      border-radius: 8px;
      padding: 7px 24px;
      margin: 0 7px;
    }
  }

  .account__btn {
    background-color: #fff;
    border: none;

    a {
      font-weight: 400;
      transition: 0.3s ease-in-out;
      color: #fff;
    }
  }

  .sign__btn,
  .account__btn {
    @include loginButton($color1);
  }
}
