$color1: #ff2e65;
$containerWidth: 1100px;
$containerWidth: 900px;

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  .top__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 900px) {
      justify-content: center;
      align-items: center;

      .bage__span {
        display: none;
        visibility: hidden;
      }
      .call__btn {
        display: none;
        visibility: hidden;
      }
    }
    @media (max-width: 600px) {
      .phone__call {
        justify-content: center;
        text-align: center;
        display: none;
        visibility: hidden;
      }
    }
  }

  .down__header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    @media (max-width: 900px) {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    @media (max-width: 600px) {
    }
    .list {
      display: flex;
      padding: 0;
      .list__item {
        display: flex;
        padding: 10px;
        font-weight: 600;
      }
    }
    .card__btn {
      background-color: $color1;
      border: $color1;
      border-radius: 8px;
      padding: 7px 24px;
      margin: 0 7px;
    }
  }
  .sign__btn,
  .account__btn {
    color: #696f7a;
    margin: 0 7px;
  }
  .sign__btn,
  .account__btn:hover {
    border: 1px solid #ff2e65;
    border-radius: 8px;
    padding: 7px 20px;
    box-shadow: #ff2e65;
  }
  .account__btn {
    background-color: #fff;
    border: none;

    a {
      color: #000;
    }
  }
}
